:root {
  --dark-grey: #b6b6b6;
  --blue-font: #0a224a;
  --black-gray: #7a7a7a;
  --light-gray: #d9d9d9;
  --error-state: #e74a3b;
  --hover-state: #0a224a;
  --white: #fff;
  --light-blue: #f7faff;
}

/*-------------------------*/
/*Reset on*/
main {
  flex-grow: 1;
}

ul {
  padding-left: 0;
  display: flex;
}

/* Обнулення маржінів у заголовков та параграфів  */
h1,
h2,
h3,
p {
  /* margin-top: 0;
  margin-bottom: 0; */
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/*-------Зроби з картинок блоковий елемент + гумовий + автоподстройка висоти +
         указывает содержимому заполнять контейнер object-fit: cover;
         он будет отрезать стороны изображения, сохранение соотношения сторон */
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  outline: none;
  border: none;
  /* border: solid 1px #f2f2f2; */
}

/* --Зроби зображення блочними елементами*/
/*----------------------------------  */
/*             RESET END              */
/* ---------------------------------  */

/* Додаємо "Паттерн для приховання заголовків": властивості для класу .visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients {
}
.container {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--light-blue);
  /* background-color: rgb(199, 188, 199); */
}
.section-title {
  text-align: center;
  padding: 36px 71px 30px;

  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 150% */
  text-transform: uppercase;
}
.clients-wrap {
  display: flex;
  flex-wrap: wrap;
}
.client-subtitle {
}

.client-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 auto;
  /* gap: 24px; */
}

.client-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: var(--white);
  /* width: calc((100% - 48px) / 3); */
}
.client-accent {
}
.client-text {
  max-width: 360px;
  padding: 16px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.wrap-img {
  display: flex;
  margin: 32px auto 0px 32px;
  gap: 14px;
  align-items: center;
}
.wrap-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* ------------------------media--------------- */
@media screen and (min-width: 120px) {
  .client-item:nth-child(3) {
    display: none;
  }

  .client-item:nth-child(2) {
    display: none;
  }

  .client-item {
    width: calc((100% - 0px) / 1);
  }
}

@media screen and (min-width: 768px) {
  .client-item:nth-child(3) {
    display: none;
  }
  .client-item:nth-child(2) {
    display: flex;
  }

  .client-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .client-item:nth-child(3) {
    display: flex;
  }
  .client-item {
    width: calc((100% - 48px) / 3);
  }
}

/* @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero-bg-2x.jpeg);
    }
  } */
